<!-- SUB HEADER -->
<mat-toolbar *ngIf="smartContract.admins.length > 1">
  <span style="margin-right: 15px">Choose main admin account:</span>
  <mat-form-field style="width: 500px;">
    <mat-select [value]="smartContract.admin">
      <mat-option *ngFor="let admin of smartContract.admins" [value]="admin" (click)="smartContract.admin = admin">{{admin}}</mat-option>
    </mat-select>
  </mat-form-field>
</mat-toolbar>
<!-- CONTENT -->
<div class="content">
  <h1>Admin Overview</h1>
  <h2 style="margin-bottom: 0px">Add Store Owner</h2>
  <form>
    <mat-form-field appearance="standard" class="address-input">
      <mat-label>Enter Ethereum Address</mat-label>
      <input matInput id="add" [formControl]="addControl" [errorStateMatcher]="matcher" placeholder="Ethereum Address"
        type="text" autocomplete="off">
      <mat-hint>Address to be added as store owner</mat-hint>
      <mat-error *ngIf="validateAddress('add')">
        Address is <strong>invalid</strong>
      </mat-error>
      <mat-error *ngIf="addControl.hasError('required')">
        Address is <strong>required</strong>
      </mat-error>
      <mat-error *ngIf="addControl.hasError('admin not set')">
        Default admin account is <strong>not set</strong>
      </mat-error>
      <button matSuffix mat-button [disabled]="validateAddress('add') || addControl.hasError('required') || addControl.hasError('admin not set')"
        (click)="addStoreOwner()">Add</button>
    </mat-form-field>
  </form>
  <br>
  <h2 style="margin-bottom: 0px">Remove Store Owner</h2>
  <form>
    <mat-form-field appearance="standard" class="address-input">
      <mat-label>Enter Ethereum Address</mat-label>
      <input matInput id="remove" [formControl]="removeControl" [errorStateMatcher]="matcher" placeholder="Ethereum Address"
        type="text" autocomplete="off">
      <mat-hint>Address to be removed as store owner</mat-hint>
      <mat-error *ngIf="validateAddress('remove')">
        Address is <strong>invalid</strong>
      </mat-error>
      <mat-error *ngIf="removeControl.hasError('required')">
        Address is <strong>required</strong>
      </mat-error>
      <mat-error *ngIf="removeControl.hasError('admin not set')">
        Default admin account is <strong>not set</strong>
      </mat-error>
      <button matSuffix mat-button [disabled]="validateAddress('remove') || removeControl.hasError('required') || removeControl.hasError('admin not set')"
        (click)="removeStoreOwner()">Remove</button>
    </mat-form-field>
  </form>
  <br>
  <h2 style="margin-bottom: 0px">Check if Address is Store Owner</h2>
  <form>
    <mat-form-field appearance="standard" class="address-input">
      <mat-label>Enter Ethereum Address</mat-label>
      <input matInput [formControl]="checkControl" [errorStateMatcher]="matcher" placeholder="Ethereum Address" type="text"
        autocomplete="off">
      <mat-hint>Enter address to be checked</mat-hint>
      <mat-error *ngIf="validateAddress('check')">
        Address is <strong>invalid</strong>
      </mat-error>
      <mat-error *ngIf="checkControl.hasError('required')">
        Address is <strong>required</strong>
      </mat-error>
      <mat-error *ngIf="checkControl.hasError('not store owner')">
        Address is <strong>not a store owner</strong>
      </mat-error>
      <mat-icon matSuffix *ngIf="!(validateAddress('check') || checkControl.hasError('required') || checkControl.hasError('not store owner'))">check_circle_outline</mat-icon>
    </mat-form-field>
  </form>

</div>
